*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: fixed;
    background-color: #0084FD;
}
.wrap{
    flex-wrap: wrap;
}
.flex{
    display: flex;
}
.space-around{
    justify-content: space-around;
}
#invert{
    filter: invert(1);
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
}
.inline{
    margin: 0.5rem;
}
.inline li{
    margin: 1rem;
    display: inline;
}
.inline a{
    color: white;
}
.inline button{
    background-color: white;
    padding: 0.4rem;
    color: black;
    border-radius: 20px;
}
.bg-blue{
    background-color: #B5DDFF;
    border-radius: 20px;
}
.container{
    width: 71.3125rem;
    margin: 0 auto;
}
.phone-img-size img{
    height: 17.31rem;
}
.phone-container{
    width: 46.875rem;
}
.box{
    width: 22.6875rem;
}