*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    display: fixed;
    background-color: #0084FD;
}
.wrap{
    flex-wrap: wrap;
}
.flex{
    display: flex;
}
.space-around{
    justify-content: space-around;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
#invert{
    filter: invert(1);
    padding: 1rem;
}
ul{
    list-style: none;
}
li a{
    text-decoration: none;
}
.inline{
    margin: 0.5rem;
}
.inline li{
    margin: 1rem;
    display: inline;
}
.inline a{
    color: white;
}
.inline button{
    background-color: white;
    padding: 0.4rem;
    color: black;
    border-radius: 20px;
}
.bg-blue{
    background-color: #B5DDFF;
    border-radius: 20px;
}
.container{
    width: 75.3125rem;
    margin: 0 auto;
}
.phone-img-size img{
    height: 17.31rem;
}
.phone-container{
    width: 45.4rem;
}
.box{
    width: 22rem;
    text-align: center;
}
.box i{
    font-size: 4rem;
    color: #0084FD;
}
.bg-violet{
    background-color: #9792E4;
    object-fit: cover;
}
.bg-white{background-color: white;}
.container-two{
    margin: 0 auto;
}
.calc{
    width: calc(100% / 2);
}
.calc img{
    height: 380px;
    margin-top: 137px;
    margin-left: 438px;
}
.box2{
    width: 408px;
    height: 554px;
}
.bg-white{
    padding: 74px;
    margin-top: 309px;
}
.bg-white img{
    height: 250px;
    border-radius: 20px;
}
#arrow{
    background-color: #9792E4;
    padding: 1px;
    text-align: center;
    width: 40px;
    font-size: 1.5rem;
    border-radius: 100px;
    height: 40px;
}
.text-center{
    text-align: center;
}
.rounded-img img{
    width: 200px;
    border-radius: 50%;
    height: 200px;
    object-fit: cover
}
.box3{
    padding: 1rem;
    width: calc(100% / 3 - 1rem);
    background-color: white;
}
.gap{
    gap: 1rem;
}
.bg-black{
    background-color: #333333;
}